build_pipeline/IMGT_sequence_files
build_pipeline/muscle_alignments
build_pipeline/curated_alignments
build_pipeline/HMMs
build/

# Python build / cache
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
.venv/
venv/

uv.lock
